body {
    overflow-y: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
}

.chat-room {
    height: 90vh;
    
    overflow-y: scroll;
    
    .navbar{
        border-bottom: 1px solid #eeeeee;
        margin-left: -5px;
        width: 100%;
        background-color: white;
        left: 0;
    }

    .message {   
        min-height: 59px;
        .content-container{
            display: flex;
            flex-direction: column;
            //justify-content: flex-end;
            align-items: flex-start;
           // float: right;
            margin-bottom: 3px;
            max-width: calc(100% - 15px);
            .content{
            background-color: #eeeeee;
            padding: 8px 16px;
            border-radius: 20px;
            }
            .author{
                font-size: 0.8rem;
                color: #777777;
                margin-left: 10px;
            }
        }
        &.me{
            .content-container{
                align-items: flex-end;
                .content{
                    background-color: #007bff;
                    color:white;
                }

            }
        }
        
    }

    .chat-box {
        position: absolute;
        bottom: 0;
        width: 70%;
        padding: 17px;
        background-color: white;
        border-top: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;

        input[type=text] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
            margin-right: 2px;
        }
        .btn{
            height: 45px;
        }
    }
}


.pl-2{
    padding-left: 2px;
}

.pl-5{
    padding-left: 5px;
}

.mr-5{
    margin-right: 10px;
}

.pr-5{
    padding-right: 5px;
}

.card.no-outline {
    border: none;
}

.room-link{
    text-decoration: none;
  
    .room-card {
        border-radius: 20px;
        transition: background-color 0.5s ease;
        &:hover{
            background-color: #eeeeee;

        }
        &.active{
            background-color: black;
            .name{
                color:white;
            }
            .member-count{
                color:#e0e0e0;
            }
        }
        .name{
            font-weight: bold;
            color: black;
        }
        .member-count{
            color: #777777;
            font-weight: lighter;
        }
    }
}

.room-btn{
    width: 100%;
}
    
.rooms-sidebar{
    
    border-right: 1px solid #eeeeee;
}

.rooms-container{
    max-height: 70vh;
    overflow-y: scroll;
}

.activity-status {
    font-size: 20px;
    float: left;
    margin-top: -6px;
    margin-right: 4px;
    color:#e0e0e0;
    &.online {
        color: #64dd17
    }
}